/* Kolory */
$green: #008b89;
$grey: #686868;
$yellow: #e6db05;

$xs: "only screen and (max-width : 576px)";
$sm: "only screen and (min-width : 576px)";
$md: "only screen and (min-width : 768px)";
$lg: "only screen and (min-width : 992px)";
$xl: "only screen and (min-width : 1200px)";

$softBounce: cubic-bezier(0.68, -0.55, 0.265, 1.30);