@charset "UTF-8";
@import "variables";
@import "lib/bootstrap";




@media only screen and (max-width: 991px) {
  .subpage-header {
    display: flex;
    align-self: flex-start;
  }
}


@media #{$xs} {
  .strefa-ucznia {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .tlo2 {
    margin-top: -980px;
    padding-top: 930px;
  }
  #zapraszamy {
    display: none;
  }
}

@media #{$sm} {
  .tlo2 {
    margin-top: -980px;
    padding-top: 850px;
  }
}

@media #{$md} {
    .colRight {
        order: -1;
    }
    .tlo2 {
        margin-top: -1000px;
        padding-top: 800px;
    }

}

@media #{$lg} {
  .container {
    padding: 0 65px;
  }
  .tlo2 {
    margin-top: -1000px;
    padding-top: 800px;
  }

}

@media #{$xl} {
  .container {
    padding: 0 65px;
  }
  .tlo2 {
    margin-top: -950px;
    padding-top: 750px;
  }
  .rwd-break {
    display: none;
  }
}

@media only screen and (min-width: 1500px) {
  .tlo2 {
    margin-top: -900px;
    padding-top: 700px;
  }
}

@media only screen and (min-width: 1770px) {
  .tlo2 {
    margin-top: -800px;
    padding-top: 650px;
  }
}

@media only screen and (min-width: 1920px) {
  .tlo2 {

    margin-top: -777px;
    padding-top: 600px;
  }
}

#ampersand {
  font-size: 60px;
  color: $green;
  @media #{$xs} {
    font-size: 40px;
  }
  @media #{$xs} {
    font-size: 40px;
  }
}

#stopka {
  display: flex;
  justify-content: center;
}

.colLeft,
.colRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ssa-img {
    position: relative;
    z-index: 0;
}



.zapisz {
    position: relative;
    z-index: 2;
    &::before,
    &::after {
        position: relative;
        z-index: -1;
    }

    &::before {
        position: absolute;
        bottom: 100%;
        bottom: calc(100% - 1px);

        content: "";
        width: 150px;
        height: 100px;
        -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        background: $yellow;
        display: block;
    }

    &::after {
        position: absolute;
        top: 100%;
        top: calc(100% - 1px);
        content: "";
        width: 150px;
        height: 100px;
        -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(100% 0, 0 0, 0 100%);
        background: $yellow;
        display: block;
    }

    a {
        color: $green;
        text-align: center;
        display: inline-block;
        width: 150px;
    }
    background: $yellow;
}

.logo-mid {
  margin-bottom: 50px;
}


@media only screen and (max-width: 767px) {
  .ssa-img {
    margin-top: 100px;
  }
  .logo-mid {
    margin-bottom: 0;
  }
}


.ssa {
    margin-bottom: 100px;
    position: relative;
    z-index: 2;
    &::before,
    &::after {
        position: relative;
        z-index: 1;
    }

    &::before {
        position: absolute;
        bottom: 100%;
        bottom: calc(100% - 1px);
        content: "";
        width: 150px;
        height: 100px;
        -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        background: $green;
        display: block;
    }

    &::after {
        position: absolute;
        top: 100%;
        top: calc(100% - 1px);
        content: "";
        width: 150px;
        height: 100px;
        -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(100% 0, 0 0, 0 100%);
        background: $green;
        display: block;
    }

    background: $green;
    width: 150px;
}

p {
    position: relative;
    z-index: 3;
}


body {
    background: url("http://localhost:3000/img/tlo.png") center top no-repeat,
    url("http://localhost:3000/img/tlo2.png") 50% 75% no-repeat;
    background-size: contain;
}

h1,
h3 {
    font-family: 'Ubuntu', sans-serif;
}

.more {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: $green;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.s1 {
    font-size: 36px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.s2 {
    font-size: 30px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#istnieje {
    font-size: 15px;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: -12px;
}



.social-media i {
    color: $green;
    padding: 0 10px;
}

.header-title {
    margin-top: 14px;
}

.strefa {
    justify-content: center;
}

.strefa-ucznia a {
    color: black;
}

.subpage-title{
    margin-top: 48px;
    font-weight: 700;
}

.mid-header {
  margin-top: 96px;
  font-weight: 700;
}

.img-padding {
    padding: 0;
  filter: brightness(100%);
  transition: .5s;
  &:hover {
    filter: brightness(120%);
  }
}

.strefa-ucznia a:hover {
    color: $grey;
}

.strefa-ucznia span:nth-child(2) {
    font-weight: 300;
}

.about-us {
    //padding: 0;
    margin-top: 100px;
}

#names {
    display: inline-flex;
    font-family: 'Pacifico', cursive;
    font-size: 24px;

    @media #{$xs} {
      font-size: 20px;
    }
    @media only screen and (max-width: 355px) {
      font-size: 17px;
    }

}

#zapraszamy {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    float: right;
}

#filip {
    display: inline;
}

#agnieszka {
    transform: translateY(50%);
}

.tlo {
    background: url("http://localhost:3000/img/pattern.jpg");
    position: relative;
    z-index: 0;
}

.tlo2 {
    background:  url("http://localhost:3000/img/tlo3-gora.png") no-repeat;
    position: relative;
    z-index: 1;
}

.tlo2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: calc(100% - 264px);
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-repeat: repeat-y;
  background-image: url("http://localhost:3000/img/tlo3-dol.png");
}

.zdj {
    position: relative;
    z-index: 0;
}

@media only screen and (max-width: 767px) {
    .subpage-description {
      margin-top: 20px;
      margin-bottom: 20px;
    }
}


h1 {
    color: $green;
    text-transform: uppercase;
    font-size: 40px;
}

ul {
    padding: 6px 0;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    font-size: 15px;
}

#bottom-ul {

  border-top: 1px solid black;
  border-bottom: 1px solid black;

  li a {
    color: black;
    &:hover {
        color: $grey;
    }
  }
}

  li {
    margin: 0 15px;
    list-style: none;
    display: inline;
    text-transform: uppercase;
    a {
      text-decoration: none;
      font-weight: 500;
      color: $grey;
      padding: 4px;
      display: inline-block;
    }
  }

  .center {
    display: block;
    width: auto;
    margin: auto;
  }

  #oferta {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }

  h1,
  ul {
    text-align: center;
  }

  a:hover {
    text-decoration: none;
    color: black;
  }

  .active {
    color: black;
  }

  .icon {
    display: flex;
    align-content: center;
  }

  .sth {
    display: flex;
    align-items: center;
  }

  a {
    color: $green;
    &,
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  #photo {
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .ssa-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
  }

  .ssa-footer {
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    @media #{$md} {
      padding-bottom: 50px;
    }
  }
