@charset "UTF-8";
@import "variables";
@import "lib/bootstrap";

@media #{$xl} {
    .container {
        padding: 0 65px;
    }

}

@media #{$lg} {
    .container {
        padding: 0 65px;
    }
     .zdj {
         margin-left: -200px;
    }
}

@media #{$md} {
    .colRight {
        order: -1;
    }
    zdj {
        margin-top: -900px;
        padding-top: 900px;
        position: relative;
    /*z-index: 2;*/
    /*margin-left: -200px;*/
    }
}

.colLeft,
.colRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ssa-img {
    position: relative;
    z-index: 2;
}

.zapisz {
    position: relative;
    z-index: 2;
    &::before,
    &::after {
        position: relative;
        z-index: 1;
    }

    &::before {
        position: absolute;
        bottom: 100%;
        bottom: calc(100% - 1px);

        content: "";
        width: 150px;
        height: 100px;
        -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        background: $yellow;
        display: block;
    }

    &::after {
        position: absolute;
        top: 100%;
        top: calc(100% - 1px);
        content: "";
        width: 150px;
        height: 100px;
        -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(100% 0, 0 0, 0 100%);
        background: $yellow;
        display: block;
    }

    a {
        color: $green;
        text-align: center;
        display: inline-block;
        width: 150px;
    }
    background: $yellow;
}

@media #{$xs} {
    .strefa-ucznia {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .logo-mobile {
        display: flex;
        justify-content: space-around;
    }
    .zdj {
        margin-top: -900px;
        padding-top: 900px;
        position: relative;
    z-index: 2;
    /*margin-left: -200px;*/
    }
    .tlo2 {
      margin: 0;
      padding: 0;
      z-index: -1;
    }

}

@media only screen and (max-width: 768px) {
    .ssa-img {
        margin-top: 100px;
    }
}


.ssa {
    margin-bottom: 100px;
    position: relative;
    z-index: 2;
    &::before,
    &::after {
        position: relative;
        z-index: 1;
    }

    &::before {
        position: absolute;
        bottom: 100%;
        bottom: calc(100% - 1px);
        content: "";
        width: 150px;
        height: 100px;
        -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        background: $green;
        display: block;
    }

    &::after {
        position: absolute;
        top: 100%;
        top: calc(100% - 1px);
        content: "";
        width: 150px;
        height: 100px;
        -webkit-clip-path: polygon(100% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(100% 0, 0 0, 0 100%);
        background: $green;
        display: block;
    }

    background: $green;
    width: 150px;
}

p {
    position: relative;
    z-index: 3;
}


body {
    background: url("http://localhost:3000/img/tlo.png") center top no-repeat,
    url("http://localhost:3000/img/tlo2.png") 50% 75% no-repeat;
    background-size: contain;
}

h1,
h3 {
    font-family: 'Ubuntu', sans-serif;
}

.more {
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: $green;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.s1 {
    font-size: 36px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.s2 {
    font-size: 30px;
    font-weight: 700;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#istnieje {
    font-size: 15px;
    color: white;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: -12px;
}



.social-media i {
    color: $green;
    padding: 0 10px;
}

.header-title {
    margin-top: 14px;
}

.strefa {
    justify-content: center;
}

.strefa-ucznia a {
    color: black;
}

.child-middle {
    display: flex;
    align-items: center;
}

.subpage-title {
    margin-top: 48px;
    font-weight: 700;
}

.img-padding {
    padding: 0;
}

.strefa-ucznia a:hover {
    color: $grey;
}

.strefa-ucznia span:nth-child(2) {
    font-weight: 300;
}

.about-us {
    padding: 0;
    margin-top: 100px;
}

#names {
    display: inline-flex;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
}

#zapraszamy {
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    float: right;
}

#filip {
    display: inline;
}

#agnieszka {
    transform: translateY(50%);
}

#ampersand {
    font-size: 60px;
    color: $green;
}

.tlo {
    background: url("http://localhost:3000/img/pattern.jpg");
}

.tlo2 {
    background: url("http://localhost:3000/img/tlo-test.png") top no-repeat;
    margin-top: -900px;
    padding-top: 900px;
    position: relative;
}

.zdj {
    position: relative;
    z-index: 0;
 
}

@media only screen and (max-width: 576px) {
    .subpage-description {
        margin-top: 45px;
    }
}


h1 {
    color: $green;
    text-transform: uppercase;
    font-size: 40px;
}

ul {
    padding: 6px 0;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    font-size: 15px;
}

li {
    margin: 0 15px;
    list-style: none;
    display: inline;
    text-transform: uppercase;
    a {
        text-decoration: none;
        font-weight: 500;
        color: $grey;
        padding: 4px;
        display: inline-block;
    }
}

.center {
    display: block;
    width: auto;
    margin: auto;
}

#oferta {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

h1,
ul {
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: black;
}

.active {
    color: black;
}

.icon {
    display: flex;
    align-content: center;
}

.sth {
    display: flex;
    align-items: center;
}

a {
    color: $green;
    &,
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
    }
}


.ssa-top {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 40px 0;
    align-items: center;
}

.ssa-footer {
    text-align: center;
}